mixin connect
    section.sec.connect
        .container.text-center.d-flex.flex-column.align-items-center
            h2.mb-3 Contact SchoolWorks
            p Ready to take your school or organization to the next level? #[strong Contact us today to learn more] about how SchoolWorks can support your educational goals.
            a.cta.text-white.text-decoration-none.text-uppercase.d-inline-flex.olive-bg.mt-4(href="#") Contact Schoolworks Today
