mixin satisfactory
    section.sec.satisfactory
        .container.text-center.d-flex.flex-column.align-items-center(style="max-width:770px")
            h2.text-uppercase.olive-text.mb-3 CLIENT SATISFACTION
            .img.mt-2.mb-4
                img(src="images/stars-rating.svg", alt="", height="40", width="272")
            p.fw-bold At SchoolWorks, our priority is our clients and the students they impact. Our project teams consistently earn ratings of 4.8 or higher in overall client satisfaction.
            p.fw-bold Explore our clients' feedback on our services #[a.olive-text.text-decoration-none(href="#") here].
