	<div class="header" id="header">
			<div class="container-xxl container d-flex align-items-md-end justify-content-center justify-content-md-between">
				<div class="brand">
					<a href="{homepage}"><img src="images/logo.svg" alt="" height="40" width="250" /></a>
				</div>
				<nav class="nav_site d-none d-lg-flex ms-auto align-items-center" id="navSite" aria-label="Navigation">
					<ul class="nav">
						{exp:structure:nav_basic show_depth="2"}
						<li class="d-none"><a class="text-decoration-none text-uppercase" href="index.html">Home</a></li>
						{if root:has_children}
						<li class="has_nav">
							<a class="text-decoration-none text-uppercase" href="{root:page_url}">{root:title}</a><span class="arrow d-lg-none d-flex align-items-center justify-content-center lh-1"><i class="bi bi-chevron-down"></i></span>
							<ul class="nav sub-nav flex-column">
								{root:children}
								<li><a class="text-decoration-none" href="{child:page_url}" title="What Sets Us Apart">{child:title}</a></li>
								{/root:children}
							</ul>
						</li>
						{if:else}
						<li><a class="text-decoration-none text-uppercase" href="{root:page_url}">{root:title}</a></li>
						{/if}
						{/exp:structure:nav_basic}
					</ul>
					
				</nav>
				<div class="callnav d-lg-none" id="navCall"><span class="line"></span><span class="line"></span><span class="line"></span></div>
			</div>
		</div>