	<div class="header" id="header">
			<div class="container-xxl container d-flex align-items-md-end justify-content-center justify-content-md-between">
				<div class="brand">
					<a href="index.html"><img src="images/logo.svg" alt="" height="40" width="250" /></a>
				</div>
				<nav class="nav_site d-none d-lg-flex ms-auto align-items-center" id="navSite" aria-label="Navigation">
					<ul class="nav">
						<li class="d-none"><a class="text-decoration-none text-uppercase" href="index.html">Home</a></li>
						<li class="has_nav">
							<a class="text-decoration-none text-uppercase" href="about.html">About</a><span class="arrow d-lg-none d-flex align-items-center justify-content-center lh-1"><i class="bi bi-chevron-down"></i></span>
							<ul class="nav sub-nav flex-column">
								<li><a class="text-decoration-none" href="#" title="What Sets Us Apart">What Sets Us Apart</a></li>
								<li><a class="text-decoration-none" href="#" title="Mission &amp; Vision">Mission &amp; Vision</a></li>
								<li><a class="text-decoration-none" href="#" title="Core Values">Core Values</a></li>
								<li><a class="text-decoration-none" href="#" title="Company History">Company History</a></li>
								<li><a class="text-decoration-none" href="our-team.html" title="Our Team">Our Team</a></li>
								<li><a class="text-decoration-none" href="news-events.html" title="News &amp; Events">News &amp; Events</a></li>
								<li><a class="text-decoration-none" href="changemakers-grant.html" title="Changemakers Grant">Changemakers Grant</a></li>
								<li><a class="text-decoration-none" href="#" title="Contact Us">Contact Us</a></li>
							</ul>
						</li>
						<li class="has_nav">
							<span class="link text-uppercase">Services</span><span class="arrow d-lg-none d-flex align-items-center justify-content-center lh-1"><i class="bi bi-chevron-down"></i></span>
							<ul class="nav sub-nav flex-column">
								<li><a class="text-decoration-none" href="accountability-and-authorizer-supports.html" title="Accountability and Authorizer Supports">Accountability and Authorizer Supports</a></li>
								<li><a class="text-decoration-none" href="developing-and-operational-schools.html" title="Developing and Operational Schools">Developing and Operational Schools</a></li>
								<li><a class="text-decoration-none" href="quality-reviews.html" title="Quality Reviews">Quality Reviews</a></li>
								<li><a class="text-decoration-none" href="leadership-and-instructional-supports.html" title="Leadership and Instructional Supports">Leadership and Instructional Supports</a></li>
							</ul>
						</li>
						<li><a class="text-decoration-none text-uppercase" href="#">Case Studies</a></li>
						<li><a class="text-decoration-none text-uppercase" href="#">Clients</a></li>
						<li class="has_nav">
							<span class="link text-uppercase">Courses</span><span class="arrow d-lg-none d-flex align-items-center justify-content-center lh-1"><i class="bi bi-chevron-down"></i></span>
							<ul class="nav sub-nav flex-column">
								<li><a class="text-decoration-none" href="#" title="Charter School Founders">Charter School Founders</a></li>
								<li><a class="text-decoration-none" href="#" title="Charter School Authorizers">Charter School Authorizers</a></li>
							</ul>
						</li>
						<li><a class="text-decoration-none text-uppercase" href="#">Blog</a></li>
						<li><a class="text-decoration-none text-uppercase" href="#">Jobs</a></li>
						<li><a class="text-decoration-none text-uppercase" href="#">Equity</a></li>
						<li><a class="text-decoration-none text-uppercase" href="#">Contact</a></li>
					</ul>
				</nav>
				<div class="callnav d-lg-none" id="navCall"><span class="line"></span><span class="line"></span><span class="line"></span></div>
			</div>
		</div>