.form-grant {
	.form-label {
		font-size: 18px;
	}

	.form-control {
		border-color: rgba($grey, 0.25);
		color: $grey;
		font: 18px/1 $font;
		height: 40px;
	}

	textarea {
		&.form-control {
			height: 125px;
		}
	}
}
