$purple: #7677a0;
$red: #ff2c1b;
$lime: #c6eb38;
$olive: #7ab245;
$forest: #005942;
$mango: #f6b74b;
$orange: #ff7e36;
$blue: #1aa2ff;
$grey: #585858;

$font: 'Inter', sans-serif;

$colors: (
	purple: $purple,
	red: $red,
	lime: $lime,
	olive: $olive,
	forest: $forest,
	mango: $mango,
	orange: $orange,
	blue: $blue,
	grey: $grey,
);
